html {
    font-family: sans-serif;
}

body {
    width: 50%;
    max-width: 800px;
    min-width: 480px;
    margin: 0 auto;
}

.lastResult{
    background-color: white;
    padding: 3px;
    text-align: center;
}

.alerts{
    margin-top: 8px;
    display: flex;
    justify-content: space-evenly;
    background-color: white;
}

.instructions, .title{
    text-align: center;
}

.form{
    display: flex;
    justify-content: center;
    align-content: center;
}

label, input{
    margin: 4px;
}